<div id="searchResults">
        {{# each searchArray}}
        <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">
                    {{this.caterer_name}}
                    <i class=" fa-lg pointer pull-right"></i>
                </h3>
              </div>
              <div class="panel-body">
                <ul>
                    <li>Type: {{this.cuisine_type}}</li>
                    <li>Address: {{this.address1}}, {{this.address2}}</li>
                    <li>City: {{this.city}}</li>
                    <li>Zip: {{this.zip}}</li>
                    <li>Email: {{this.email}}</li>
                    <li>Phone: {{this.phone}}</li>
                </ul>
                <div class="btn-group">
                  <label>Search items by time: </label>
                  <select type="button" class="btn btn-default occasion-dpd" data-caterer-id="{{this.caterer_id}}" data-caterer-name="{{this.caterer_name}}">
                      <option value ="null">Select</option>
                      <option value ="breakfast">Breakfast</option>
                      <option value="lunch">Lunch</option>
                      <option value="dinner">Dinner</option>
                  </select>
                </div>
                <div class="btn-group">
                  <label>Search items by type: </label>
                  <select type="button" class="btn btn-default menu-dpd" data-caterer-id="{{this.caterer_id}}" data-caterer-name="{{this.caterer_name}}">
                      <option value ="null">Menu</option>
                      <option value ="appetizer">Appetizer</option>
                      <option value="salad">Salad </option>
                      <option value="main course">Main Course</option>
                      <option value="dessert">Desserts</option>
                      <option value="beverage">Beverages</option>
                  </select>
                </div>
              </div>
            </div>
        </div>
        {{/each}}
</div>

